<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{firstname}}
			{{name}}</title>
	</head>
	<body>
		<div>
			<h1>Avec mon amour
				{{firstname}}
				{{name}}</h1>
			<p>Bonjour Daniel Sf6</p>
		</div>
	</body>
</html>
