{% extends 'template.html.twig' %}
{% block title %}
    Ajouter
{% endblock %}
{% block PageTitle %}
    Ajout
{% endblock %}
	{% block body %}
        <div class="alert alert-success">
            {{ personne.firstname }} {{ personne.name }} à {{ personne.age }}
        </div>
    {% endblock %}